<footer class="site-footer">
  <div class="wrap">
    <span class="copy">&copy; Majorsilence devs 2025. Open source under MIT.</span>
    <div class="footer-links">
      <a href="{{ site.baseurl }}/posts/">Blog</a>
      <a href="https://github.com/majorsilence/Reporting/wiki" target="_blank" rel="noopener">Wiki</a>
      <a href="https://github.com/majorsilence/Reporting" target="_blank" rel="noopener">GitHub</a>
      <a href="https://www.nuget.org/packages/Majorsilence.Reporting.RdlEngine" target="_blank" rel="noopener">NuGet</a>
    </div>
    <div class="social-icons">
      <a href="https://x.com/intent/post?url={{site.url}}{{page.url}}" target="_blank" rel="noopener" title="Share on X">
        <img src="{{ site.baseurl }}/assets/images/logos/x.svg" alt="X (Twitter)" loading="lazy" />
      </a>
      <a href="https://bsky.app/intent/compose?text={{site.url}}{{page.url}}" target="_blank" rel="noopener" title="Share on Bluesky">
        <img src="{{ site.baseurl }}/assets/images/logos/bluesky.svg" alt="Bluesky" loading="lazy" />
      </a>
    </div>
  </div>
</footer>
