<header class="site-header">
  <div class="wrap">
    <a href="{{ site.baseurl }}/" class="site-brand">
      <span class="brand-icon">MR</span>
      Majorsilence Reporting
    </a>
    <nav class="site-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/posts/">Blog</a>
      <a href="https://github.com/majorsilence/Reporting/wiki" target="_blank" rel="noopener">Docs</a>
      <a href="https://github.com/majorsilence/Reporting" target="_blank" rel="noopener" class="nav-cta">GitHub ↗</a>
    </nav>
  </div>
</header>
